<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/static/css/estilos.css">

<title>Ejercicio_1</title>
</head>

<body>

<div class="container">
        <h2>Formulario de Notas</h2>
        <form method="POST">
            <label for="nota1">Nota 1 (0 a 7):</label>
            <input type="number" name="nota1" id="nota1" step="0.01" min="0" max="7" required>

            <label for="nota2">Nota 2 (0 a 7):</label>
            <input type="number" name="nota2" id="nota2" step="0.01" min="0" max="7" required>

            <label for="nota3">Nota 3 (0 a 7):</label>
            <input type="number" name="nota3" id="nota3" step="0.01" min="0" max="7" required>

            <label for="asistencia">Asistencia (%) (0 a 100):</label>
            <input type="number" name="asistencia" id="asistencia" step="0.01" min="0" max="100" required>

            <button class="button" type="submit">Enviar</button>
        </form>

        {% if resultado == "Por favor, ingrese notas válidas entre 0 y 7." or
              resultado == "Por favor, ingrese un porcentaje de asistencia válido (entre 0 y 100)." or
              resultado == "Por favor, ingrese valores numéricos válidos." %}

        <div class="error">
            <p>{{ resultado }}</p>
        </div>
        {% elif promedio %}
        <div class="result">
            <p>Promedio: {{ promedio }}</p>
            <p>{{ resultado }}</p>
        </div>
        {% endif %}
    </div>

</body>